<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplicação JS</title>

    <!-- Bootstrp -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <!-- Socket IO -->
    <script
      src="https://cdn.socket.io/4.5.3/socket.io.min.js"
      integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <br />
      <div class="jumbotron">
        <h1 class="display-4">Chat node</h1>
        <br />
        <input
          id="message"
          class="form-control"
          placeholder="Your Message Here"
        />
        <br />
        <button id="send" class="mb-2 btn btn-success" onclick="sendMessage()">Send</button>
        <br />
        <div id="messages" class="p-2 bg-light border"></div>
      </div>
    </div>

    <script>
      // Initialize service socket
      const socket = io();

      // Receive the messages
      // and execute the function provided in the second parameter
      socket.on("message", addMessages);

      // function that receives the message and rederizes it in the html
      function addMessages(newMessage) {
        const element = document.getElementById("messages");
        const message = document.createElement("p");
        message.textContent = `${newMessage.name} : ${newMessage.message}`;
        element.appendChild(message)
      }

      // function that when captured a click is executed
      function sendMessage() {
        const input = document.getElementById("message");
        const message = {
          name: "Node",
          message: input.value
        };

        let headers = new Headers();
        headers.append('Content-Type', 'application/json');

        // access the method provided in the java api
        fetch("http://localhost:8080/chat_spring", {
          method: "POST",
          headers: headers,
          body: JSON.stringify(message)
        })
          .then((result) => {
            if(result.status == 200){
              addMessages(message);
              input.value = "";
            }else{
              alert("Falha na requisição!");
            }
          })
          .catch((error) => {
            console.log(error)
            alert("Falha ao enviar a mensagem!")
          })
      }
    </script>
  </body>
</html>
